:root{
    --light: #ffffff;
    --dark: #000000;
    --red: #f12427;
    --primary: #0095ff;
    --secondry: #FFC300;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* #3366ff */
    /* .color-1 {color: #f12427;}
    .color-2 {color: #000000;}
    .color-3 {color: #FFC300;}
    .color-4 {color: #f0f61a;}
    .color-5 {color: #ffffff;}
    .color-6 {color: #0095ff;}  */
}

a{
    text-decoration: none;
    color: var(--dark);
}

html{
    font-size: 62.5%;
    font-family: 'poppins', sans-serif;
}

section.main-page .navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: none;
    height: 7rem;
    background-color: var(--light);
    box-shadow: 0px 3px 5px #0000004f;
    position: fixed;
    width: 100%;
    z-index: 2;
}

section.main-page .logo{
    font-size: 2.5rem;
    color: var(--primary);
    cursor: pointer;
}

section.main-page .nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50rem;
}

section.main-page .nav a{
    font-size: 1.7rem;
    font-weight: 500;
    transition: all .3s ease-in-out;
}

section.main-page .nav a:hover{
    color: var(--primary);
}

section.main-page .search img{
    position: relative;
    left: -3rem;
    width: 2rem;
    cursor: pointer;
}

section.main-page .search input{
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
    font-size: 1.7rem;
    background: transparent;
}
/* slider */
/* .slidershow{
    width: 152rem;
    height: 50rem;
    overflow: hidden;
  }
  .middle{
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  .bar{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50rem;
    border: 2px solid  var(--primary);
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
  }
  .bar:hover{
    background: var(--primary);
  }
  
  input[name="r"]{
      position: absolute;
      visibility: hidden;
  }
  
  .slides{
    width: 500%;
    height: 100%;
    display: flex;
  }
  
  .slide{
    width: 20%;
    transition: 0.6s;
  }
  .slide img{
    width: 100%;
    height: 100%;
  }
  
  #r1:checked ~ .s1{
    margin-left: 0;
  }
  #r2:checked ~ .s1{
    margin-left: -20%;
  }
  #r3:checked ~ .s1{
    margin-left: -40%;
  }
  #r4:checked ~ .s1{
    margin-left: -60%;
  }
  #r5:checked ~ .s1{
    margin-left: -80%;
  }
  
 */
 section.products-page{
     position: relative;
     top: 6.5rem;
 }
section.products-page .product-div{
    box-shadow: 0px 3px 5px #0000004f;
    padding: 4rem 2rem 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
 }

 section.products-page .Category-name{
    font-size: 2rem;
    padding: 3rem 0 2rem 3rem;
 }



 section.products-page .product-div .product{
     width: 25rem;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
 }

 section.products-page .product-div .product .price{
     display: flex;
     align-items: center;
     justify-content:flex-start;
     width: 25rem;
 }

 section.products-page .product-div .product .price p{
     color: green;
     font-size: 1.2rem;
     font-weight: 500;
 }
 section.products-page .product-div .product h1 {
    width: 25rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

section.products-page .product-div .product .pro-disc{
    cursor: pointer;
}

section.products-page .product-div .product img{
    width: 18rem;
    padding: 2rem;
    transition: all .3s ease-in-out;
}

section.products-page .product-div .product img:hover{
    transform: scale(1.05);
    cursor: pointer;
}

/* responsive */

@media screen and (max-width:1259px){
    html{
        font-size: 55%;
    }
}

@media screen and (max-width:1098px){
    html{
        font-size: 50%;
    }
}
@media screen and (max-width:1023px){
    html{
        font-size: 40%;
    }
}
@media screen and (max-width:828px){
    html{
        font-size: 35%;
    }
}
@media screen and (max-width:724px){
    html{
        font-size: 30%;
    }
}
@media screen and (max-width:620px){
    html{
        font-size: 25%;
    }
}
@media screen and (max-width:525px){
    html{
        font-size: 25%;
    }
}
@media screen and (max-width:409px){
    html{
        font-size: 25%;
    }
    section.products-page .Category{
        overflow-x: scroll;
    }
}